@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.header-dashboard {
  background-color: #1b3f73;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  border-radius: 15px;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

.header-dashboard h1 {
  font-weight: 800;
}

.header-dashboard img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-top: -10px;
}

.header-dashboard p {
  line-height: normal;
  font-weight: bold;
}

.header-dashboard .username {
  color: #59b7ff;
}

.panel-progreso-semanal {
  background: linear-gradient(to right, #0a5abb, #8b62df);
  border-radius: 15px;
  padding: 10px 20px;
  color: white;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  font-weight: bold;
}

.panel-progreso-semanal h3 {
  background: linear-gradient(to right, #487ae8, #7771f3);
  padding: 5px 25px;
  border-radius: 16px;
  margin-bottom: 30px;
  font-weight: 800;
}

.panel-progreso-semanal p {
  line-height: 0.5rem;
}

.panel-progreso-semanal .tareas {
  background-color: #2cc4b0;
  padding: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 15px;
}

.panel-progreso-semanal .incompletas {
  background-color: #8063fc !important;
}

.panel-estados {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 110px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.div-estado {
  background-color: #f2f4fa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 1px;
  border-radius: 15px;
}

.linea-estado {
  border-radius: 15px 15px 0 0;
  padding-top: 0.5rem;
  padding-left: 2rem;
}

.tarjeta-tarea {
  min-width: 15rem;
  max-width: 15rem;
  border-radius: 15px;
  padding: 10px 15px;
  padding-bottom: 0;
  margin: 10px 5px 10px 15px;
  line-height: normal;
  color: #495e85;
}

.tarjeta-tarea .textos {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mas-info {
  color: rgba(73, 94, 133, 0.7);
}

.sin-tareas {
  padding: 10px 15px;
  padding-bottom: 0;
  margin: 10px 5px 10px 15px;
  line-height: normal;
  color: #495e85;
  min-height: 80px;
}

.pendientes {
  background-color: #ff989a;
}

.pendientes h4 {
  color: #ff3739;
}

.colores-claros .pendientes {
  background-color: #f6e0ea;
}

.en-progreso {
  background-color: #ffddb7;
}

.en-progreso h4 {
  color: #f9b73d;
}

.colores-claros .en-progreso {
  background-color: #fff2e3;
}

.completadas {
  background-color: #a0dfca;
}

.completadas h4 {
  color: #10823c;
}

.colores-claros .completadas {
  background-color: #d0f1e6;
}

.colores-claros {
  scrollbar-width: thin;
  scrollbar-color: #98b9ff #cccccc;
}
