@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.header-tareas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(70 147 124);
  color: white;
  padding: 20px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 10px;
}
.header-tareas h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
}
.user-profile-btn {
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.user-profile-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

.content-container {
  flex: 1;
  padding: 15px;
  overflow-y: auto; /*scroll en las tareas */
  padding-bottom: 130px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #e9ecef;
  border-radius: 20px;
  padding: 5px 15px;
  margin-bottom: 15px;
}
.search-bar input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 8px;
  outline: none;
  font-size: 13px;
  font-weight: 400;
}
.search-icon {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.info-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(59 135 110);
  color: white;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.info-banner p {
  margin: 0; /* Quita el margen invisible que empujaba el texto hacia abajo */
}

.info-icon-img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  object-fit: contain;
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.btn-crear,
.btn-filtrar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(70 147 124);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.btn-icon {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.kanban-board {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.kanban-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.kanban-header {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: rgb(70 147 124);
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  width: fit-content;
}
.kanban-header h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
}
.kanban-icon-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.kanban-cards-container {
  display: flex;
  gap: 12px;
  overflow-x: auto; /*scroll horizontal  */
  padding-bottom: 5px;
}
.task-card-placeholder {
  min-width: 75px;
  height: 75px;
  background-color: #d1d5db;
  border-radius: 12px;
  flex-shrink: 0;
}
